.CardsBox{
    min-width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CardBoxImgBox{
    width: 100%;
    height: 40%;
    background-color: green;
    border-radius: 10px;
    align-self: center;

    & .CardBoxImg{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
    }
}

.CardsBoxTextBox{
    width: 100%;
    height: 90px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.CardsBoxTextBoxNav1{
    width: 57%;
    height: 100%;
    /* background-color: orange; */
    font-family: "Poppins", sans-serif;
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
}

.CardsBoxTextBoxNav2{
    width: 40%;
    height: 100%;
    background-color: #fff1ec;
    border-radius: 10px;
    text-wrap: wrap;
    font-family: "Poppins", sans-serif; 
    padding: 10px;
    font-size: 13px;
}

.CardsBoxContent{
    width: 100%;
    height: 10%;
    /* background-color: gray; */
    text-wrap: wrap;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

.CardsBoxLocation{
    width: 100%;
    height: 5%;
    /* background-color: gray; */
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    align-items: center;
    gap: 5px;
}

.CardBoxTicket{
    width: 100%;
    height: 15%;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: #ff5722;
}

.TicketBtn{
    padding: 9px;
    border-radius: 5px;
    background-color: #ff5722;
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}

.Card2{
    width: 40%;
    height: 50%;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    /* background-color: green; */
}

.Card2Nav{
    width: 60%;
    height: 100%;
    /* background-color: grey; */
    display: flex;
    padding: 10px;
    flex-direction: column;

    & .SeeM{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: bolder;
        margin-top: 10px;
        cursor: pointer;
    }
}

.Card2Nav2{
    width: 40%;
    height: 200px;
    background-color: #ff5722;
    border-radius: 10px;

    & .Card2Nav2Img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

    }
}

.UsersBlockHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
}

.UsersBlockNav{
   width: 100%;
   height: 100%;
   /* background-color: gray; */
   display: flex;
   justify-content: center;
   align-items: center;
}
 .UsersBlockNav1{
    width: 45%;
    height: 100%;
    /* background-color: green; */
}

 .UsersBlockNav1Img{
    width: 100%;
    height: 100%;
}

.UsersBlockNav1Text{
    width: 80%;
    height: 60%;
    /* background-color: #ff5722; */
    font-size: 22px;
    /* text-align: center; */
    margin-top: 30px;
}

.UsersBlockNav1Box{
    width: 80%;
    height: 17%;
    /* background-color: gray; */
    margin-top: 10px;
    display: flex;

    & .ImgBox{
        width: 40%;
        height: 100%;
        /* background-color: green; */
        display: flex;
        position: relative;
        transition:  1s ease-in-out;

    }

    & .ImgBoxCircle{
        width: 30%;
        height: 100%;
        border-radius: 100px;
        /* background-color: red; */
        position: absolute;
    }
    & .ImgBoxCircle1{
        width: 30%;
        height: 100%;
        border-radius: 100px;
        /* background-color: blue; */
        position: absolute;
        left: 20px;
        border: 2px solid white;
    }
    & .ImgBoxCircle2{
        width: 30%;
        height: 100%;
        border-radius: 100px;
        /* background-color: pink; */
        position: absolute;
        left: 40px;
        border: 2px solid white;

    }

    & .circleBox{
        width: 100%;
        height: 100%;
        border-radius: 100px;
    }

    & .stars{
        margin-left: 90px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}