.signIn-container{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", sans-serif;

}

.signIn-Nav{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
}

.signIn-Nav-Box{
    width: 35%;
    height: 25%;
    /* background-color: green; */
    margin-bottom: 30px;
    margin-right: 25px;
    position: relative;


    & .navBoxs1{
        width: 80%;
        height: 65%;
        border-radius: 100px;
        background-color: #ff5722;
        position: absolute;
        z-index: 1;

    }

    & .navBoxs2{
        width: 80%;
        height: 65%;
        border-radius: 100px;
        background-color: #27187e;
        position: absolute;
        top: 35%;
        left: 20%;
    }
}

.signup-Nav2{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 30px;
}


.signup-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form{
    width: 556.56px;
    max-height: 600px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.signup-form-Header{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: rgb(66, 66, 66);

}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 21px;
    flex-direction: column;
    box-shadow: none;
    border: none;
    color: rgb(66, 66, 66);

    }

.input{
    width: 100%;
    height: 60px;
    border: gray 1px solid;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.input3{
    width: 90%;
    height: 50%;
    border: none;
    outline: none;
}

 

.btnUp{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #ff5722;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
    
.signupBox2{
    width: 100%;
    height: 15%;
    display: flex;
    /* background-color: green; */
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.boxes{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    color: #27187e;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}