@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.publish-bg{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    color: rgb(53, 52, 52);
    overflow-y: scroll;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    
}

.ant-modal-body{
    height: 60vh !important;

}
.publish-wrapper{
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    /* overflow: hidden; */
}
.publish-title{
    width: 100%;
    height: 49px;
    /* background-color: yellow; */
    font-family: "Poppins", sans-serif;
  /* padding: 10px; */
  /* margin-left: 59px; */
  
}
.publish-holder-nav{
    width: 30%;
    height: 30px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-back{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.publish-wrapper-two{
    width: 100%;
    height: 500px;
    /* background-color: crimson; */
}
.publish-wrapper-two-title{
    width: 80%;
    /* height: 49px; */
    /* background-color: rgb(20, 20, 4); */
    font-family: "Poppins", sans-serif;
  /* padding: 10px; */
  /* margin-left: 59px;
  margin-top:110px ; */
}
.publish-wrapper-two-double-bg{
width: 100%;
/* height: 220px; */
/* background-color: cornflowerblue; */
display: flex;
justify-content: space-between;
}
.publish-wrapper-two-double-div-one{
    width: 47%;
    /* height: 100%; */
    /* background-color: darkblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 59px; */
}
.publish-first-box{
    width: 100%;
    /* height: 150px; */
    /* background-color: darkolivegreen; */
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* padding: 9px; */
    font-family: "Poppins", sans-serif;
}
.publish-input{
    width: 95%;
    height: 53px;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    border: 1px solid grey;
    outline: none;
    padding: 5px;
    margin-top: 7px;
    font-family: "Inter", sans-serif;
}
.publish-wrapper-single-double-bg{
    width: 100%;
    height: 30%;
    /* background-color: rgb(64, 194, 151); */
    display: flex;
    /* padding-left: 59px; */
    margin-top: 15px;
   
    }
    .publish-third-box{
        width: 60%;
        height: 80%;
        /* background-color: rgb(117, 185, 0); */
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* padding: 9px; */
        font-family: "Poppins", sans-serif;
        
    }
    .publish-third-input{
        width: 95%;
        height: 53px;
        border-radius: 7px;
        font-family: "Poppins", sans-serif;
        border: 1px solid grey;
        outline: none;
        padding: 5px;
        /* margin-top: 7px; */
        font-family: "Inter", sans-serif;
    }
    .quick-reminder-bg{
        width: 100%;
        height: 50%;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* gap: 10px; */
    }
    .quick-reminder-wrapper{
        width: 90%;
        height: 85%;
        background-color: rgb(255,248,226);
        border-radius: 9px;
        padding: 35px 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .quick-reminder-title-wrapper{
        width: 70%;
        height: 30px;
        /* background-color: yellowgreen; */
        font-family: "Poppins", sans-serif;
        display: flex;
        font-size: 15px;
        /* gap: 13px; */
    }
    .warning-icon{
        width: 25px;
        height: 30px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        color: rgb(255,211,26);
    }
.warning-texts{
    /* font-weight: 600; */
    color: rgb(244,159,0);
    /* font-size: 22px; */
}
    .quick-reminder-text-wrapper{
        width: 100%;
        height: 90%;
        /* background-color: rgb(50, 156, 205); */
        font-family: "Poppins", sans-serif;
        font-size: 10px;

        & p{
            font-size: 15px;
            text-align: center;
        }
    }
    .publish-event-btn-bg{
      width: 100%;
      height: 50px;
      /* background-color: darkgoldenrod; */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 20px;
      
    }
    .quick-reminder-text-wrapper-text{
        color: rgb(244,159,0);
        font-weight: 600;
        line-height: 1.6;
        /* background-color: red; */
        font-size: 14.9px;
        width: 100%;
        height: 100%;
    }
    .publish-event-btn{
        width: 25%;
        height: 45px;
        background-color: rgb(255,87,34);
        font-family: "Poppins", sans-serif;
        border-radius: 7px;
        border: none;
        outline: none;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
    .publish-event-btn:hover{
        background-color:rgba(216, 81, 32, 0.877) ;
        color: white;
    }

    .success-bg{
        width: 97%;
        height: 380px;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .verified-icon-holder{
        width: 100%;
        height: 300px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .verified-icon{
        color: rgb(255,87,34);
        font-size: 250px;
    }
    .successful-text-holder{
        width: 80%;
        height: 50px;
        /* background-color: aqua; */
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 18px;
    }  

