.exploreMainPage{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.exploreLandingPage{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #edecf4; */
    margin-top: 90px;
}
.exploreMiddleBox{
    width: 90%;
    height: 87%;
    gap: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Montserrat;
    font-size: 18px;
    /* background-color: red; */
}
.exlporeMiddleTop{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 22px;
    gap: 20px;
    /* background-color: white; */
}
.exploreReplaceIn{
    width: 20px;
    height: 3px;
    background-color: #1e1e1e;
    border-radius: 5px;
}
.exploreMiddleCenter{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 20px;
    /* background-color: black; */
}
.explorelistOfShowsBox{
    width: max-content;
    height: 100%;
    border: 1px solid #bcbbc0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    padding: 20px;
}
.billBord{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    /* background-color: rgba(0, 255, 255, 0.301); */
    margin-top: 40px;;
    position: relative;
   z-index: 0;
}
.fadedBlackBox{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  background: linear-gradient(to right ,rgba(255, 87, 34, 1)rgba(39, 24, 126, 1))100%;
    position: absolute;
    top: 0;
    z-index: 1;
    
}
.billBordImg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
}
.exploreBillBordText{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.exploreFeatureMain{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: #bcbbc0 1px solid;
    /* background-color: aqua ; */
    display: flex;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.paddingBox{
    width: 90%;
    height: 97%;
    /* background-color: red; */
    font-family: Montserrat;
    font-size: 20px;
    display: flex;
    color: #1e1e1e;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    
}
.combine{
    width: 100%;
    height: 10%;
    /* background-color: #27187d; */
    font-size: 30px;
    font-weight: 800;
    
}
.vectorImg{
   width: 15%;
    margin-bottom: 20px;
    margin-left: 13px;
}
.cardMainBox{
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    box-sizing: border-box;
    padding: 10px 0;
}

.FeturesCards{
    width: 30%;
    height: 390px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}
.imageBox{
    width: 90%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: #edecf4;
    position: relative;
    justify-content: flex-end;

    & img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        position: absolute;
        z-index: 0;
    }
}

.favoriteIcon{
    font-size: 20px;
    margin: 15px;
    position: absolute;
    z-index: 6;
    color: rgba(255, 255, 255, 1);
}
.location{
    font-size: 20px;
}
.cardFirsBox{
    width: 90%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    /* background-color: #fe5722; */

    & div{
        width: 30%;
        height: 100%;
        background-color:#fff2ec ;
        display: flex;
        flex-direction: column;
        gap: 7px;
        border-radius: 10px;
        font-size: 14px;
    }
}
.cardSecondBox{
    width: 90%;
    height: auto;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.address{
    width: 90%;
    height: auto;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.cardThirdBox{
    width: 90%;
    height: 8%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: Montserrat;
    margin-bottom: 15px;
}
.buyTicket{
    width: 30%;
    height: 30px;
    background-color: #fe5722;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: white;
}