.ResetPassword-container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .Nav,
  .ResetPassword-Nav2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .Nav-Box {
    width: 100%;
    max-width: 180px; 
    aspect-ratio: 1 / 1;
    position: relative;
    margin-bottom: 20px;
  }
  
  .Nav-Box .navBoxs1,
  .Nav-Box .navBoxs2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
  }
  
  .Nav-Box .navBoxs1 {
    background-color: #ff5722;
    z-index: 1;
  }
  
  .Nav-Box .navBoxs2 {
    background-color: #27187e;
    top: 35%;
    left: 20%;
  }
  .ResetPassword-Nav2 {
    padding-top: 30px;
  }
  
  .ResetPassword-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .ResetPassword-form {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding: 24px;
    color: rgb(66, 66, 66);
    border-radius: 10px;
    background-color: white;
  }
  .ResetPassword-form-Header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .input {
    width: 100%;
    height: 60px;
    border: gray 1px solid;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }
  
  .input2 {
    border: none;
    outline: none;
    width: 90%;
    height: 90%;
  }
  
  .checkbox {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #ff5722;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .box {
    color: #ff5722;
    margin-left: 10px;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .ResetPassword-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      padding: 40px;
    }
  
    .Nav,
    .ResetPassword-Nav2 {
      width: 40%;
      height: 100%;
    }
  
    .Nav {
      align-items: flex-end;
      padding-left: 40px;
    }
  
    .ResetPassword-Nav2 {
      justify-content: flex-end;
      padding-right: 40px;
    }
  
    .Nav-Box {
      margin-right: 25px;
      margin-bottom: 30px;
      width: 35%;
      max-width: 180px;
      aspect-ratio: 1 / 1;
    }
  
    .ResetPassword-form {
      height: 401px;
    }
  }
  